page-hair-detail {

}


.insta-icon {
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.insta-text {
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.insta-photos img {
    width: 150px !important;
    height: 150px !important;
}